body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 45em;
    padding-top: 2em;
}

header h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    color: #FFF;
}

main h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 36px;
    color: #111;
    margin: 0;
}

main h4 {
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 0.8;
    margin: 0.5em 0;
    color: #333;
    font-size: 24px;
    padding-top: .25em;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: 2;
    margin: 0;
}

header {
    background-color: #0784E8;
    /*background-image: url(../images/background.svg);*/
    background-image: url(assets/images/background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw 2em;
    text-align: center;
}

header img {
    height: 175px;
    width: 175px;
    vertical-align: top;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
}


/* Syling for social links */

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.default-cursor {
    cursor: default;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

ul li a:link {
    fill: #fff;
    opacity: 1.0;
}

ul li a:visited {
    fill: #fff;
    opacity: 1.0;
}

@media (hover: hover) {
    ul li a:hover {
        opacity: 0.6;
    }
}

@media (hover: none) {
    ul li a:hover {
        fill: #fff;
        opacity: 1.0;
    }
}

ul li a:active {
    fill: #fff;
    opacity: 1.0;
}


/* Syling for non-social links */

a {
    cursor: pointer;
    text-decoration: none;
}

a.link_styling:link, a.link_styling:visited {
    color: #265C83;
}

@media (hover: hover) {
    a.link_styling:hover {
        color: #7FDBFF;
    }
}

@media (hover: none) {
    a.link_styling:hover {
        color: #265C83;
    }
}

a.link_styling:active {
    -webkit-transition: color .3s;
    transition: color .3s;
    color: #0074D9;
}
