body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Space Mono', monospace;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 45em;
  padding-top: 2em;
}

header h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
}

main h2 {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 36px;
  color: #111;
  margin: 0;
}


/* Special CSS for FireFox */

@media screen and (-moz-images-in-menus:0) {
  main h2:not(#ignore-top-padding) {
    padding-top: .5em;
  }
}

main h4 {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 0.8;
  margin: 0.5em 0;
  color: #333;
  font-size: 24px;
  padding-top: .25em;
}

p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  color: #333;
  line-height: 2;
  margin: 0;
}

header {
  background-color: #1FB0ED;
  /*background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);*/
  /*background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);*/
  background-image: -webkit-linear-gradient(315deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
  background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3vw 2em;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

header img {
  height: 175px;
  width: 175px;
  vertical-align: top;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (max-width:768px) {
  main {
    padding: 1em!important;
  }
  br {
    line-height: 1em!important;
  }
}

@media only screen and (min-width:2560px) {
  main {
    max-width: 60em!important;
  }
}


/* Syling for social links */

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

ul li a svg {
  padding: 0 .5em;
}

ul li a:link, a:visited {
  fill: #fff;
  opacity: 1.0;
}

@media screen and (-moz-images-in-menus:0) {
  /* Alternative hover syntax until
  Firefox support hover: hover */
  ul li a:hover {
    opacity: 0.6;
  }
}

@media (hover: hover) {
  ul li a:hover {
    opacity: 0.6;
  }
}

@media (hover: none) {
  ul li a:hover {
    fill: #fff;
    opacity: 1.0;
  }
}

ul li a:active {
  fill: #fff;
  opacity: 1.0;
}


/* Syling for non-social links */

a {
  cursor: pointer!important;
  text-decoration: none;
}

a.link_styling:link, a.link_styling:visited {
  color: #265C83;
}

@media screen and (-moz-images-in-menus:0) {
  /* Alternative hover syntax until
  Firefox support hover: hover */
  a.link_styling:hover {
    color: #7FDBFF;
  }
}

@media (hover: hover) {
  a.link_styling:hover {
    color: #7FDBFF;
  }
}

@media (hover: none) {
  a.link_styling:hover {
    color: #265C83;
  }
}

a.link_styling:active {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #0074D9;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, #333, transparent);
  background-image: linear-gradient(to right, transparent, #333, transparent);
  margin-top: 2em;
  margin-bottom: 0;
}
