body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    letter-spacing: .01em;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: auto;
    background-color: #FFF;
}

.center_text {
    margin: 0 auto;
    max-width: 50em;
}

.top-padding {
    padding-top: 2em;
}

#name-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
}

main p {
    font-family: 'Open Sans';
    font-weight: 400;
}

main h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 36px;
}

main h4 {
    font-family: 'Open Sans';
    font-weight: 400;
}

footer {
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: center;
}

header h1 {
    color: #FFF!important;
}

p {
    line-height: 2!important;
}

main h2 {
    color: #111!important;
}

main p, q {
    color: #333!important;
    font-size: 16px!important;
}

main h4 {
    color: #333!important;
    font-size: 24px!important;
}

strong {
    font-weight: bold;
}

header {
    background-color: #0784E8;
    background-image: url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: none;
    padding: 5vw 2em;
    text-align: center;
}

#pro_pic {
    height: 175px;
    width: 175px;
    vertical-align: top;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
}


/* Syling for social links */

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.default-cursor {
    cursor: default;
}

.social-links {
    font-size: 28px;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a i {
    color: #fff;
    transition: all 200ms ease-in-out;
}

ul li a {
    text-decoration: none;
}

ul li a i:link {
    color: #fff;
    opacity: 1.0;
}

ul li a i:visited {
    color: #fff;
    opacity: 1.0;
}

ul li a i:hover {
    opacity: 0.7;
}

ul li a i:active {
    color: #fff;
    opacity: 1.0;
}


/* Syling for non-social links */

a {
    cursor: pointer!important;
    text-decoration: none;
}

a.link_styling:link, a.link_styling:visited {
    color: #265C83!important;
}

a.link_styling:hover {
    color: #7FDBFF!important;
}

a.link_styling:active {
    transition: color .3s;
    color: #0074D9!important;
}

.right-align {
    display: block;
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #333, transparent);
}

br {
    display: block;
    line-height: 2em;
}

#about h4 {
    padding-top: .25em;
}

footer p {
    color: #333;
    font-size: 16px;
}

#michigan-logo {
    width: 2em;
    height: 2em;
}

.e1a {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: -.2ex .05em 0 .1em;
    line-height: normal;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.e1a-lg {
    width: 1.25em;
    height: 1.25em;
    margin: -0.25ex 0.0625em 0 0.125em;
    background-size: 1.25em 1.25em;
}

.e1a-2x {
    width: 2em;
    height: 2em;
    margin: -0.4ex 0.1em 0 0.2em;
    background-size: 2em 2em;
}

.e1a-point_right {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f449.svg");
}

.e1a-desktop {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f5a5.svg");
}

.e1a-tickets {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f39f.svg");
}

.e1a-musical_note {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f3b5.svg");
}

.e1a-coffee {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/2615.svg");
}

.e1a-writing_hand_tone3 {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/270d-1f3fd.svg");
}

.e1a-bulb {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f4a1.svg");
}

.e1a-rocket {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f680.svg");
}

.e1a-raised_hands_tone3 {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f64c-1f3fd.svg");
}

.e1a-microscope {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f52c.svg");
}

.e1a-apple {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f34e.svg");
}

.e1a-thought_balloon {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/1f4ad.svg");
}

.e1a-heart {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/svg/2764.svg");
}

@media only screen and (max-width:768px) {
    .small_screen_side_padding {
        padding: 1em!important;
    }
    br {
        line-height: 1em!important;
    }
}
