/*
Nice colors with dark mode:
Blue: #4452fb
Green: #11cc9e
Red: #ee472f
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f20;
        color: #efefef;
    }
}

a {
    text-decoration: none !important;
}


main a {
    background-color: rgba(97, 218, 251, .12);
    border-bottom: 1px solid #bec3c9;
}

main a:hover {
    background-color: rgba(97, 218, 251, .3);
}

@media (prefers-color-scheme: light) {
    main a {
        color: #212529;
    }

    main a:hover {
        color: #212529;
    }
}

@media (prefers-color-scheme: dark) {
    main a {
        color: #efefef;
    }

    main a:hover {
        color: #efefef;
    }
}

header {
    color: white;
}

@media (prefers-color-scheme: light) {
    header {
        background-color: #2f80ed;
        background: linear-gradient(150deg, #2f80ed, #56ccf2);
    }
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #031d2e;
        background: linear-gradient(150deg, #031d2e 0%, #004e92, #04619f 75%);
    }
}

/* Separator Begin */

hr.separator {
    background-color: transparent;
    opacity: .25;
    border: 0;
    height: 1px;
}

@media (prefers-color-scheme: light) {
    hr.separator {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #3e3e3e, rgba(0, 0, 0, 0));
    }
}

@media (prefers-color-scheme: dark) {
    hr.separator {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0, 0));
    }
}

/* Separator End */

/* Go Blue Text Begin */

@supports (-webkit-text-stroke: 1px #00274c) {
    @supports (-webkit-text-fill-color: #ffcb05) {
        @media (prefers-color-scheme: light) {
            .go-blue-text {
                -webkit-text-stroke: 1px #00274c;
                -webkit-text-fill-color: #ffcb05;
                letter-spacing: .05em;
            }
        }
        @media (prefers-color-scheme: dark) {
            .go-blue-text {
                -webkit-text-stroke: 1px #ffcb05;
                -webkit-text-fill-color: #00274c;
                letter-spacing: .05em;
            }
        }
    }
}

/* Go Blue Text End */

#theming-button {
    background-color: #3d3f47;
    border-color: #3d3f47;
}

.btn:focus#theming-button {
    box-shadow: none;
}

.invisible {
    display: none !important;
}

.social svg:hover {
    opacity: .5;
}
